---
layout: default
---

{{ content }}
<h1>Publications <small><a href="/publications">See All</a></small></h1>

{% assign lim_pub = 3%}
{% assign publications = site.data.publications.publications | sort: 'year' | reverse %}
{% for pub in publications limit:lim_pub %}
<div>
    <a href="{{pub.url}}" target="_blank">{{ pub.title }}</a>
    <p style="margin-bottom: 0;"> {{pub.year}}, {{pub.conference}}, {{pub.pages}}</p>
    <p>{{ pub.pre_authors }}{% if pub.pre_authors.size > 0 %}, {% endif %}  
        <b><em>{{ pub.main_author }}</em></b>, {{ pub.post_authors }}</p>
</div>
{% endfor %}

{% if site.data.publications.publications.size > lim_pub %}
    <p><a href="/publications" target="_blank">more...</a></p>
{% endif %}

<h1>Portfolio <small><a href="/portfolio">See All</a></small></h1>
{% assign lim_portfolio = 3%}
{% assign sorted_posts = site.posts | sort: 'date' | reverse %}
{% for post in sorted_posts limit:lim_portfolio %}
<div>
    <h3> {{ post.title }}</h3>
    <div>{{ post.excerpt |  markdownify | remove: "<p>" | remove: "</p>"}}  <a href="{{post.url}}"> more...</a> </div>
    <br>
</div>
{% endfor %}

<p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
