---
layout: default
---
{% include inpage_navigation.html backurl="/portfolio" text="Portfolio" %}

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>
  {{ page.title }}
</h1>

<p>
  {% if page.demo %}
  <a href="{{page.demo}}" target="_blank">(Demo)</a>
  {% endif %} 

  {% if page.code %}
  <a href="{{page.code}}" target="_blank">(Code)</a>
  {% endif %}
</p>

{% if page.tags %}
  <p>Skills: <em>{{ page.tags | join: "</em> - <em>" }}</em></p>
{% endif %}

{% if page.img %}
<div style="text-align: center">
  <img src="{{page.img}}" alt="color game image" style="width: 100%;"/>
</div>
{% endif %}

<br>
<!-- <p class="view">by {{ page.author | default: site.author }}</p> -->

{{content}}

{% include inpage_navigation.html backurl="/portfolio" text="Portfolio" %}
